<nav class="fixed z-20 flex justify-center w-full py-5 text-white bg-black shadow-md responsive-container">
  <%= link_to root_path, class: 'flex ml-auto' do %>
    <%= image_tag 'logo.png', width: 25, class: 'mr-2' %>
    <p class="hidden mr-2 sm:inline"><%= t('charitable-foundation') %></p>
    <span class="font-bold font-comfortaa">"<%= t('project-name') %>"</span>
  <% end %>
  <div class="ml-auto">
    <%= link_to 'ะฃะบ', root_redirection_path(locale: :uk), class: ('font-bold' if I18n.locale == :uk) %>
    <span> | </span>
    <%= link_to 'En', root_redirection_path(locale: :en), class: ('font-bold' if I18n.locale == :en) %>
  </div>
</nav>
